aiohttp
aiofiles
aioshutil
anytree
apscheduler
aria2p
asyncio
bencoding
cloudscraper
dnspython
feedparser
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
httpx
lxml
motor
mutagen
natsort
pillow
psutil
pybase64
pymongo
pyrofork==2.2.11
python-dotenv
python-magic
qbittorrent-api
requests
telegraph
tenacity
tgcrypto
typing_extensions
urllib3
uvloop
xattr
yt-dlp
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
